.custombg{
    background-color: rgba(128, 128, 128, 0.133);
}
.center{
    text-align: center;
}
.common{
    border: solid 2px rgba(128, 128, 128, 0);;
    position: absolute;
}
.header{
    top: 5px;
    height: 85px;
    left: 5px;
    right: 5px;
}
.navbarleft{
    float: left;
}
.navbarright{
    float: right;
    top: 5px;
    right: 5px;
    width: 300px;
    height: 50px;
}
.quad1{
    top: 110px;
    left: 5px;
    right: 725px;
    height: 575px;
}
.quad2{
    top: 110px;
    left: 725px;
    right: 5px;
    height: 575px;
}
.quad3{
    top: 695px;
    left: 725px;
    right: 5px;
    height: 575px;
}
.quad4{
    top: 695px;
    right: 725px;
    left: 5px;
    height: 575px;
}
.footer{
    top: 1275px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 85px;
    position: absolute;
}
